
body{
font-family: 'Roboto', sans-serif;
background-color: #FBFBFB;

}

/* BARRA DE NAVEGACION */
#navbarNavAltMarkup{
    border-bottom: solid 3px #30303018;
    color:#FBFBFB;
}
/* MEDIA QUERIES NAV */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
#navbarNavAltMarkup:last-of-type{
        padding-right: 4rem;
        border-top: solid 1px #30303011;
        font-size: .9rem;
    }}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}
/* BARRA DE NAVEGACION  */