<!DOCTYPE html>
<html>
  <head>
    <title>ADMINISTRADOR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>AQUI COLOCA LOS DETALLES DEL PRODUCTO DEL ADMINISTRADOR</p>
  </body>
</html>
