<!DOCTYPE html>
<html>
  <head>
    <title>CARRITO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>AQUI COLOCA EL CARRITO</p>
  </body>
</html>
