<!DOCTYPE html>
<html>
  <head>
    <title>DETALLES DE PRODUCTO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>AQUI COLOCA LOS DETALLES DEL PRODUCTO</p>
  </body>
</html>
