

    <section>
        <h1>LOGIN</h1>
        <form action="login.php" method="POST">
            <label for="email">Email</label>
            <input type="email" name="mail" placeholder="">
            <label for="password">Contrasena</label>
            <input type="password" name="contrasena">
            <p>Olvido su contrasena?</p>
            <input type="submit" value="Iniciar Sesion">
            <p>No eres miembro?</p>
            <a href="register.html">Registrate</a>
            <i class="fab fa-facebook"></i>
            <p>Iniciar Sesion con Facebook</p>

        </form>
    </section>

