<div class="container admin-products">
    <div class="conteiner-fluid">
        <div class="row header-admin-products">
            <h4 class="col-6 align-self-base">RESUMEN DE SU ORDEN</h4>
            <div class="col-4"></div>
            <div class="col-2"></div>
        </div>
        <div class='row lineline'>
        </div>
        <div  id="barra-sup"class="row product-line-header ">
            <span class="col-2 d-flex justify-content-center">Imagen</span>
            <span class="col-3 d-flex justify-content-center">Nombre</span>
            <span class="col-2 d-flex justify-content-center">Costo Envio</span>
            <span class="col-2 d-flex justify-content-center">Precio</span>
            <span class="col-3 d-flex justify-content-center">Cantidad</span>
        </div>
        <% for(producto of productos){ %>
            <div class="row product-line">
                <img class="col-2 d-flex justify-content-center" src="/img/img-productos/<%=producto.imagen%>">
                <span class="col-3 d-flex justify-content-center"><%= producto.nombre %></span>            
                <span class="col-2 d-flex justify-content-center">Gratis</span>
                <span class="col-2 d-flex justify-content-center"><%= producto.precio %> </span>
                <div class="stock-control-triad col-12 col-lg-3 d-flex justify-content-center">   
                    <input type="number" value="1">
                </div>
            </div>
            <% } %>
        </div>
    </div>