<div class="background container-fluid">
    <div class="container container-box">
        <div class="container-title row justify-content-center ">
            <h1>Login</h1>
        </div>
        <div class="row justify-content-center container-email">
            <span class= 'col-3'><label for="email" name='email'>Email</label></span>
            <input name="email" class="input-mail d-flex col-6" type="email">
            <span><i class="fas fa-envelope col-3"></i></span>
        </div>
        <div class="row justify-content-center">
            <hr>
        </div>
        <div class="row justify-content-center container-password">
            <span class="col-4">Contrasena</span>
            <input class="input-password d-flex col-5" type="password">
            <span class="col-3"><i class="fas fa-key"></i></span>
        </div>
        <div class="row justify-content-center">
            <hr>
        </div>
        <div class= "row forgot-password col-12">
            <span><small><a href="/olvido-contrasena">Olvido su contrasena?</span></a></small>
        </div>
        <div class="row justify-content-center submit-button">
            <button class='btn btn-sucess' type="submit">Iniciar Sesion</button>
        </div>
        <div class="row justify-content-center register-container">
            <span class="no-usuario">No es usuario?</span>
            <a href="/registro">Registrese</a>
        </div>
        <div class="row justify-content-center facebook-login">
            <span><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></span></a>
            <span><a href="https://www.facebook.com/">Ingresar con Facebook</span></a>
        </div>
    </div>
</div>