<div class="background container-fluid">
    <div class="container container-box">
        <div class="container-title row justify-content-center ">
            <h1>Login</h1>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><i class="fas fa-envelope"></i> Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="row justify-content-center">
            <hr>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"><i class="fas fa-key"></i> Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="row justify-content-center">
            <hr>
        </div>
        <div class="container justify-content">
            <div id="forgot-password-link" class="d-flex justify-content-center">
                <span><small><a href="/olvido-contrasena">Olvido su contrasena?</span></a></small>
            </div>
            <div class="row justify-content-center submit-button">
                <button class='btn btn-sucess signupbtn' type="submit">Iniciar Sesion</button>
            </div>
            <div class="row justify-content-center register-container">
                <span class="no-usuario">No es usuario?</span>
                <a href="/registro">Registrese</a>
            </div>
        </div>
        <div class="row justify-content-center facebook-login">
            <span><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></span></a>
            <span><a href="https://www.facebook.com/">Ingresar con Facebook</span></a>
        </div>
    </div>
</div>