
<div class="container-login">
    <br>
<form class="col-10 mx-auto  border container-form ">
    <div class="form-row  ">
        <div class="col-12 my-3  text-center"><h1>LOGIN</h1></div>
      <div class=" col-md-6 mb-3 form-inline ">
        <label  class= "col-2" for="validationServer01 "> <i class="far fa-envelope  mt-2 fa-2x"></i></i></label>
        <input type="email" class="form-control is-valid col-10  " id="validationServer01" value="" required>
        <div class="valid-feedback">
          
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer02">Passdword</label>
        <input type="password" class="form-control is-valid" id="validationServer02" value="" required>
        <div class="valid-feedback">
          
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-12 my-2">
    <button class="btn col-9" type="submit"  >Iniciar sesion</button>
    </div>
  </form><br>
</div> 
