<!-- Just an image -->
<div id="up"class="conteiner-fluid">
    <div class="conteiner-fluid p-2" height="2">
        <div class="container row d-inline">
            <div class="float-left">
                <a class="active pr-3" href="tel:+54341458787">
                    <i class="fas fa-phone"></i>
                </a>
                <a class="active col-1" href="mailto:vestirte@digitalhouse.com">
                    <i class="far fa-envelope p-1"></i>
                    </a>
            </div>
            <div class="float-right">
                <%-include('./modal-pagos.ejs')%>
                <%-include('./modal-envio.ejs')%>
                <a class="active col-1" href="../login">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="float-right">
        <a class="active col-2" href="#">
            <svg class="bi bi-credit-card" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
            d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z"
            clip-rule="evenodd" />
            <rect width="3" height="3" x="2" y="9" rx="1" />
            <path d="M1 5h14v2H1z" />
        </svg>
        Formas de Pago
    </a> 
    
    <a class="active col-2" href="#">
        <i class="fas fa-truck"></i>
        Envios
    </a>
    <a class="active col-2" href="#login">
        <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
        clip-rule="evenodd" />
    </svg>
</a>
</div>
</div>
</div>


    <nav  id="logo"class="navbar navbar-light bg-light col-12 d-flex justify-content-center ">

        <div class="col-5 col-lg-3 col-xl-2 ">
            <a class="navbar-brand " href="#">
                <img src="logoVestirte.jpg" alt="" loading="lazy" class="img-fluid">
            </a>
        </div>

        <nav class="navbar navbar-light bg-light col-lg-4 d-none d-lg-block ">
            <form class="form-inline mx-right d-flex justify-content-end">
                <input class="form-control w-90 rounded-righ" type="search"  placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2" id="search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </nav>

       <div class="col-lg-4 d-flex justify-content-end">
    <li class="nav-item d-none d-lg-block ">
        <a class="nav-link" href="#">
            <i class="far fa-heart fa-2x"></i>
    </a>
</li>
<li class="nav-item d-none d-lg-block">
    <a class="nav-link" href="/carrito">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true">
        </i>
    </a>
</li>
       </div>

</nav>
</div>