<div class="container products-wrapper">
    <div class="row">
        <div class="col-12 container">
            <h2 class="products-title border-bottom ">Todos los productos</h2>
        </div>
        <% for (productos of productosFiltrados) { %>
            <div class="col-12 col-sm-6 col-lg-3 pt-3 ">
                <section class="product-box">
                    <a href="/productos/detalles/<%= productos.id %>">
                        <figure class="product-box_image">
                            <img src="/img-productos/<%=productos.imagen%>" alt="imagen de producto" width="250">
                        </figure>
                        <article class="product-box_data">
                            <p><%=productos.nombre%></p>
                            <h2>$<%=productos.precio%></h2>
                        </article>
                    </a>
                </section>
            </div>
            <% } %>
        </div>
    </div>