
<div class="container-fluid d-flex justify-content-center">

<div class=" row container">

    <div class="container  d-lg-flex ">
        <section class="col-sm-12 col-lg-8 ">
            <img class="img-fluid p-2" src="/img/img-productos/<%= producto.imagen%>" alt="imagen-producto">
        </section>
        <section class="col-sm-12 col-lg-4 border-left borde-abajo p-2">
            <p class=" p-2 texto-media-negrita "><%= producto.nombre %> </p>
            <p class=" p-2 texto-grande">$<%= producto.precio %> </p>
            <img class="img-sm-fluid  mb-2 " src="/img/envios-detalles.png">
        </section> 
    </div>
</div>
</div>
