<div class="container text-center perfil col-12">
    <h1>
        SU REGISTRO FUE EXITOSO! <%= UserSession.name %>
    </h1>
    <a href="/usuarios/login"><button class="danger">Click AQUI Para LOGIN</button></a>
</div>