<div class="container text-center">
<h1>
    Bienvenido <%=usuariolog.nombre %> 
</h1>
<img class="img-fluid" src="/img/img-users/<%= usuariolog.image %> " alt="imagen de user"><br><br>
<a href="/">
</div>