<div class="container text-center">
<h1>
    Bienvenido <%=usuarioencontrado.nombre %> 
</h1>
<img class="img-fluid" src="/img/img-users/<%= usuarioencontrado.image %> " alt="imagen de user"><br><br>
<a href="/">
</div>