<div class="container text-center perfil col-12">
    
    <h1>
        Bienvenido <%= locals.user.nombre %>
    </h1>
    <figure class="product-box_image  ">
        <img class="rounded-circle" src="/img/img-users/<%= locals.user.image %> " alt="imagen de user" width="350">
    </figure>
    <a href="/">
    </div>

